
.page-content{
    width: 100%;
    height: 100vh;
    background-color: #77BFC5;
}
.btn-container{
    width: 500px;
    height: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mt{
    margin-top: 20px !important;
}

.container-btn{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.semi-width{
    width: calc(100% / 2 - 10px);
    float: left;
}

.right{
    float: right;
}

h1{
    text-align: center;
    margin-bottom: 60px;
}

.cell {
    height: 189px;
    width: 189px;
    background-color: #FA6900;
    border-radius: 10px;
    position: relative;
}

.test::after {
    margin: auto;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: white;
}