<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <main *ngIf="showMain" class="page-content">
    <div class="container">
      <div class="btn-container">
        <h1>🎮 {{ title }} 🎮</h1>
        <!-- exécute la méthode "showPlayers" lors de l'évènement "SendRequestToFather" intéraction fils => père (output) -->
        <!-- Prend en paramètre l'évènement -->
        <app-joueur (SendRequestToFather)="showPlayers($event)"></app-joueur>
      </div>
    </div>
  </main>
  <!-- Intérraction père => fils  (Input)-->
  <app-morpion *ngIf="showMorpion" [players]="players"></app-morpion>
</body>
</html>
