<div class="semi-width">
    <p>Nom du joueur 1</p>
    <input type="text" class="form-control" [(ngModel)]="playerOne" placeholder="Joueur 1">
</div>
<br>
<div class="semi-width right">
    <p>Nom du joueur 2</p>
    <input type="text" class="form-control" [(ngModel)]="playerTwo" placeholder="Joueur 2">
</div>
<br>
<button type="button" class="btn btn-primary mt" (click)="sendPlayers()" >Lancer une partie !</button>

<!-- Div d'affichage des erreurs -->
<div *ngIf="showError" class="alert alert-primary error" role="alert">
    {{ error }}
</div>