<main class="morpion">
    <h1>Que le meilleur gagne !</h1>
    <div class="container-morpion">
        <div class="current" *ngIf="winnerPlayer == null">
            <h3>🖍<span class="upper"> {{ currentNamePlayer }}</span> c'est à vous de jouer</h3>
        </div>
        <!-- Affiche le gagnant -->
        <div *ngIf="winnerPlayer != null" class="winner">
            <h4 *ngIf="draw == false">Bien joué <span class="upper">{{ winnerPlayer }}</span> vous avez gagné 🥇</h4>
            <button class="btn btn-primary mt" (click)="restart()">Rejouer ?</button>
        </div>
    
        <div *ngIf="draw" class="draw">
            <h4>Egalité, vous pouvez rejouer</h4>
            <button class="btn btn-primary mt" (click)="restart()">Rejouer ?</button>
        </div>
        
        <!-- Grille de jeu -->
        <div class="col-1">
            <div id="cell" class="cell-1" (click)="play(0,0,$event)"></div>
            <div id="cell" class="cell-2" (click)="play(0,1,$event)"></div>
            <div id="cell" class="cell-3" (click)="play(0,2,$event)"></div>
        </div>
        <div class="col-2">
            <div id="cell" class="cell-1" (click)="play(1,0,$event)"></div>
            <div id="cell" class="cell-2" (click)="play(1,1,$event)"></div>
            <div id="cell" class="cell-3" (click)="play(1,2,$event)"></div>
        </div>
        <div class="col-3">
            <div id="cell" class="cell-1" (click)="play(2,0,$event)"></div>
            <div id="cell" class="cell-2" (click)="play(2,1,$event)"></div>
            <div id="cell" class="cell-3" (click)="play(2,2,$event)"></div>
        </div>
    </div>
    
    
</main>











 