:root{
    --color-cell-cross : #DE6958;
    --color-cell-circle : #3C4252;
}

.morpion{
    background-color: #e0dfdf;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.container-morpion{
    width: 600px;
    height: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-1,
.col-2,
.col-3{
    width: calc(100% / 3 - 10px);
    height: 600px;
    position: absolute;
}

.col-1{
    left: 0;
}

.col-2{
    left: calc(100% / 3 + 5px);
}

.col-3{
    right: 0;
}

.cell-1,
.cell-2,
.cell-3{
    width: 100%;
    height: 189.99px;
    background-color: #77BFC5;
    border-radius: 10px;
    text-align: center;
    display: table;
    position: relative;
}

.cell-1,
.cell-2{
    margin-bottom: 15.15px;
}

h1{
    text-align: center;
}

i{
    vertical-align:middle;
    display: table-cell;
}

i.cross{
   font-size: 150px;
}

i.circle{
    font-size: 120px;
    
 }



 .upper{
    color: #DE6958;
    text-transform: uppercase;
}

 .circle::after{
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 250px; 
    color: #DE6958;
    line-height: 189px;
    text-align: center;
 }

 .cross::after{
    margin: auto;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 15px solid #3C4252;
 }
 .winner,
 .draw{
     width: 100%;
     position: relative;
     height: 50px;
     margin-bottom: 50px;
     background-color: #94c5c5;
     border-radius: 6px;
     h4{
         line-height: 50px;
         margin-left: 20px;
     }
     button{
        position: absolute;
        right: 20px;
        top: 8px;
     }
 }


 .current{
     width: 100%;
     height: 50px;
     background-color: #94c5c5;
     margin-bottom: 30px;
     border-radius: 6px;
     h3{
        line-height: 50px;
        margin-left: 20px;
    }
   
 }
